{% extends 'base.html.twig' %}
{% set current = 'imprint' %}
{% block title %}Impressum{% endblock %}

{% block body %}
<h1>Impressum</h1>
<div class="row bg-light">
    <div class="col p-4">
        <p>
            <b>Theaterwerkstatt Holm</b><br/>
            im Kulturverein Holm e.V.<br/>
            Im Sande 1<br/>
            25488 Holm<br/>
            <br/>
            Vereinregisternummer 699 vom 18.04.1983<br/>
            beim Amtsgericht Pinneberg<br/>
            <br/>
            Leitung: Svenja Kunz<br/>
            <br/>
            E-Mail: <a href="mailto:kontakt@theaterwerkstatt-holm.de">kontakt@theaterwerkstatt-holm.de</a>
        </p>
    </div>
    <div class="col p-4">
        <p>
            <b>Verantwortlich für diese Seite:</b><br/>
            Florian Isachsen (<a href="mailto:webmaster@theaterwerkstatt-holm.de">webmaster@theaterwerkstatt-holm.de</a>)
        </p>
        <p>
            <a class="facebook btn btn-outline-primary btn-icon" href="https://www.facebook.com/theaterwerkstattholm/" target="_blank">
                <i class="fab fa-facebook"></i>
                <span class="ml-1">Zu unserem Facebook Profil</span>
            </a>
        </p>
        <p>
            <a class="instagram btn btn-outline-primary btn-icon" href="https://www.instagram.com/theaterwerkstatt.holm/" target="_blank">
                <i class="fab fa-instagram"></i>
                <span class="ml-1">Zu unserem Instagram Profil</span>
            </a>
        </p>
    </div>
</div>


{% endblock %}
