{% extends 'base.html.twig' %}
{% set current = 'start' %}
{% block title %}Startseite{% endblock %}

{% block body %}
<div class="row">
    <div class="jumbotron bg-white text-center">
        <img src="{{ asset('build/images/title_complete.png') }}" class="w-75" alt="Theaterwerkstatt Holm">
    </div>
</div>

<div class="row mb-5">
    <div class="col">
{#        <p class="lead text-center">#}
{#            <a class="btn btn-primary btn-lg" href="{{ path('app_ticketrequest_create') }}" role="button">Karten bestellen!</a>#}
{#        </p>#}
        {% if article %}
        <p class="lead text-center">
            <a class="btn btn-primary btn-lg" href="{{ path('app_news_detail', {id: article.id}) }}" role="button">Hier Neuigkeiten erfahren!</a>
        </p>
        {% else %}
        <p class="lead text-center">
            <a class="btn btn-primary btn-lg" href="{{ path('app_production_list') }}" role="button">Zu unseren Stücken</a>
        </p>
        {% endif %}
    </div>
</div>

<div class="row align-content-center mb-5">
    <div class="col-md-2 col-lg-3"></div>
    <div class="col-12 col-md-8 col-lg-6 bg-light p-5 rounded">
        <p class="blockquote">
            &quot;Das Theater ist der seligste Schlupfwinkel für diejenigen, die ihre Kindheit heimlich in die Tasche gesteckt und sich damit auf und davon gemacht haben, um bis an ihr Lebensende weiterzuspielen.&quot;<br/>
            <small class="blockquote-footer mt-3 float-right">Max Reinhardt</small>
        </p>
    </div>
    <div class="col-md-2 col-lg-3"></div>
</div>

{% endblock %}
