$white: #FFFFFF;
$light: #f9f9f9;

// $grey-100: #E0E0E0 !default;
$grey-100: #F5F5F5 !default;
// $grey-200: #C0C0C0 !default;
$grey-200: #EBEAEB !default;
// $grey-300: #A8A8A8 !default;
$grey-300: #C0C0C0 !default;
$grey-400: #909090 !default;
$grey-500: #787878 !default;
$grey-600: #686868 !default;   // Line footer color
$grey-700: #484848 !default;
$grey-800: #282828 !default;
$grey-900: #181818 !default;
$dark: 	   #212529 !default;

$primary: #cc0000;
$secondary: #cc0000;
$success: #22cc00;
$info: #660000;
$warning: $light;
$danger: #ff00ff;

$bg-primary: #cc0000;
$bg-secondary: $grey-200;
$bg-success: #22dd00;
$bg-info: $grey-200;
$bg-warning: #ECB22F;
$bg-danger: #ff00ff;
$bg-dark: #1D1C1D;

//$facebook = #3b5998;

$link-color: $primary;
$link-hover-decoration: none;
